
// ************* COLORS  PALLETS **************** //


// Blue  Pallets Color 

$primary:#39af9f;
$secondary:#3fceba;
$white:#ffffff;
$bg-color:#ececec;
$border-color:#d4d5d6;



// Red paalets
$danger:#611a15;
$danger-bg: #fdecea;
$danger-icon:#f44336;


// Green pallets 

$success: #1e4620;
$success-bg: #edf7ed;
$success-icon:#4caf50;


$text-color: #000000d9;



// font sizes
$font-md: 1.375rem;
$font-sm: 1.25rem;
$font-regular: 1rem;
$font-xs: 0.875rem;
$font-xxs: 0.625rem;


// font-weight
$light:300;
$regular:400;
$semi-bold:600;
$bold: 700;


// font-path 
$open-sans:  'Open Sans', sans-serif;


// media queries 
$screen-sm-max: 575px; // Small tablets and large smartphones (landscape view)
$screen-md-max: 767px; // Small tablets (portrait view)
$screen-lg-max: 991px; // Tablets and small desktops
$screen-xl-max: 1200px; // Large tablets and desktops